html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.draggable {
	-webkit-app-region: drag;
}

/* img {
	pointer-events: none;
} */

#device_list {
	position: absolute;
	top: 40px;
	left: 20px;
	width: 180px;
}
#channel-list {
	overflow: scroll;
	position: absolute;
	top: 420px;
	width:  200px;
	height: 300px;
	left: 20px;
}

#channel-list div {
	clear: both;
}
#channel-list img {
	width: 90px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
	color: white;
}

#overlay_message {
	padding: 180px 0;
	text-align: center;
}